<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact No</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of allUsers">
            <td scope="col">{{user.firstName}}</td>
            <td scope="col">{{user.lastName}}</td>
            <td scope="col">{{user.email}}</td>
            <td scope="col">{{user.contactNo}}</td>
        </tr>
    </tbody>
</table>